@if (reproductorService.actualStation()!=undefined ) {
    

    @if (modeCar()==false) {
        <div  class="reproductor">
    
            <div class="propsFirst  active" id="rep">
            
                @if(reproductorService.stationLoading()==false ) {
                    
                        
                        <div style="align-items: center; display: flex; justify-content: center;">
                            <app-loading></app-loading>
                        </div>
                    
                }@else {
                    <div class="box-open-close">
                    </div>
                     <div class="title_image">
         
                         @if (reproductorService.actualStation()?.favicon!.length>0) {
         
                         <img class="poster" [src]="reproductorService.actualStation()?.favicon" />
         
                         }@else {
                         <img class="poster" src="../../../assets/icons8-radio-50.png" />
         
                     }
                     
                 </div>
                 
                 <div class="box-btn">
                     <div>
                         <h1>{{reproductorService.actualStation()?.name}}</h1>
                        
                     </div>
                         
                         @if (reproductorService.state()) {
         
                             <div  (click)="pause()" class="btn-play">
                                 <img height="25" width="25" src="../../../assets/icons8-pausa-30.webp" />
                             </div>
                         }@else{
                             <div (click)="play()" class="btn-play">
                                 <img height="25" width="25" src="../../../assets/icons8-play-30.webp" />
                             </div>
                         }
         
                     </div>
                }
              
                
            </div>  
    </div>
    }
    @if (modeCar()==true) {
        <div  class="reproductor-mode-car">
            <h1>Mode Car</h1>
            <div class="propsFirst-modeCar" id="rep">
            
                @if(reproductorService.stationLoading()==false ) {
                    
                        <div style="align-items: center; display: flex; justify-content: center;">
                            <app-loading></app-loading>
                        </div>
                    
                }@else {
                     <div class="title_image">
         
                         @if (reproductorService.actualStation()?.favicon!.length>0) {
         
                         <img class="poster" [src]="reproductorService.actualStation()?.favicon" />
         
                         }@else {
                         <img class="poster" src="../../../assets/icons8-radio-50.png" />
         
                     }
                     
                 </div>
                 <div>
                    <h1>{{reproductorService.actualStation()?.name}}</h1>
                   
                </div>
                    
                 <div class="box-btn">
                     
                         @if (reproductorService.state()) {
         
                             <div  (click)="pause()" class="btn-play">
                                 <img height="25" width="25" src="../../../assets/icons8-pausa-30.webp" />
                             </div>
                         }@else{
                             <div (click)="play()" class="btn-play">
                                 <img height="25" width="25" src="../../../assets/icons8-play-30.webp" />
                             </div>
                         }
         
                    </div>
                }
              
                
            </div>
            <div class="recomendations-list">

            </div>  
    </div>
    }
   



}