<form (submit)="changePassword()" [formGroup]="formPassword" >
    <label>Nueva contraseña</label>
    <input [formControl]="formPassword.controls.newPassword"  type="password" placeholder="Nueva Contraseña" name="Nueva contraseña"  required>
    @if (isInvalid("newPassword")!==null) {

        <samp class="errors">{{getErrorMessage("newPassword")}}</samp>

    }
    <label>Repite la contraseña</label>
    <input [formControl]="formPassword.controls.confirmNewPassword" type="password" placeholder="Repite la contraseña" name="newPassword"  required>
    @if (isInvalid("confirmNewPassword")!==null) {

        <samp class="errors">{{getErrorMessage("confirmNewPassword")}}</samp>

    }
   <div>
    @if (formPassword.valid) {

        <input (click)="changePassword()"(submit)="changePassword()" type="button"  class="singUp"  value="Registrase" />

    }@else {

        <input disabled   class="singUp" value="Registrase" />

    }
   </div>
</form>