<header class="menu">

        <img   (click)="openMenu()" class="btn-open-menu" width="25" height="25" [src]="'../../../assets/profile/'+getImageProfile()">
        <img alt="RadioGlobal"   class="logo" src="../../../assets/LogoRGH_sinFondo.webp" >
    <nav class="links">
        @for (item of  menuItems; track $index) {
            <a class="link_btn" [href]="item.url">{{item.title}}</a>
        }

        @if(userService.logInState()===true){
            
                <div class="box-contex-menu-img-profile">
                    <img (click)="openContex()" class="img_profile" [src]="'../../../assets/profile/'+getImageProfile()">
                    
                    <menu id="contex"  class="contexMenu closeContex">
                        <a class="item_contex">Perfil</a>
                        <button (click)="closedSesion()" class="item_contex">Cerrar Sesion</button>
                    </menu>
                </div>
            
             
        }@else {
            
            <a class="link_btn " href="oauth/logIn">Iniciar sesion</a>
            <a class="link_btn "href="oauth/singUp">Registrarse</a>
        
        }
    </nav>
</header>

<aside class="menu-later close" id="menu-later">
    <button (click)="openMenu()" class="btn-close-menu">Cerrar</button> 
    <ul class="links-later">
        @for (item of  menuItems; track $index) {
            <a class="item_later" [href]="item.url">{{item.title}}</a>
        }

        @if(userService.logInState()===true){
           
            <a class="item_later" >Perfil</a>
            <button class="item_later" (click)="closedSesion()" >Cerrar sesion</button>
        }@else {
            
            <a  class="item_later" href="oauth/logIn">Iniciar sesion</a>
            <a class="item_later" href="oauth/singUp">Registrarse</a>
            
        }
    </ul>
</aside>
