*{
    --color-background:#2A1F2D;
    --color-primary:#59C9A5;
    --color-secundary:#52BE80;
    --color-country:#FF6747;
    --color-language:#DAF7A6;
    --hover:#939393;
}

.reproductor-mode-car{
    height: 100%;
    width: 100%;
    margin: 0;
    bottom:  0;
    top: 0;
    position: fixed;
    z-index: 20;
    background: black;
    align-items: center;
    justify-content: center;
    padding: 1em;
    overflow-y: scroll;

    & .poster{
        width: 200px;
        height: 200px;
        object-fit: contain;
        animation:forwards  fade 0.2s ease-in-out ;
        -webkit-animation:forwards  fade 0.2s ease-in-out ;
    }
    & .propsFirst{
        display: none;
    }
    & .propsFirst-modeCar{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        background-color: transparent;

    }
    & html{
        overflow: hidden;
    
    }
    & body{
        overflow: hidden;
    }
    & .recomendations-list{
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 1em;
        height: fit-content;
        

    }
}
.close-box{
    display: flex;
    justify-content: space-between;
  
    padding: 1em;
    align-items: center;
    gap: 1em;
 
     
    & img{
        padding: 1em;
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
    }
    & img:hover{
        background: var(--hover);
    }
    & img:active{
        
        background: var(--hover);
    }
}
.reproductor-mode-car{
    height: 100%;
    width: 100%;
    margin: 0;
    bottom:  0;
    top: 0;
    position: fixed;
    z-index: 20;
 
    align-items: start;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
    & .poster{
        width: 100px;
        height: 100px;
        object-fit: contain;
        animation:forwards  fade 0.2s ease-in-out ;
        -webkit-animation:forwards  fade 0.2s ease-in-out ;
    }

    & .propsFirst{
        display: none;
    }
    & .propsFirst-modeCar{
        height: 50%;
        width: 100%;
        margin: 0;
        bottom:  0;
        top: 0;

        align-items: center;
        justify-content: center;
  
        
    }
    & html{
        overflow: hidden;
    
    }
    & body{
        overflow: hidden;
    }
    & .title_image{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        margin: 0;
        padding: 0;
        width: 100%;
      
        
    }
   
    & .btn-play{
        width: 100%;
        height: 100px;
    }
    & .recomendations-list{
        display: grid;
        grid-template-columns:1fr ;
       
        gap: 1em;
        height: fit-content;
        width: 100%;
    }
}



h1{
    font-size: x-large;
    width: 100%;
    text-align: start;
}

@media (prefers-color-scheme: dark) {
    .reproductor-mode-car{
        background: black;
    }
    .close-box{
        background: black;
    }
    h1{
        color: white;
    }
    
}
@media (prefers-color-scheme: light) {
    .reproductor-mode-car{
        background: white;
    }
    .close-box{
        background: white;
    }
    h1{
        color: black;
    }
    
}