

<div id="rep_car"  class="reproductor-mode-car">
    <div class="close-box"> 
        <h1>Mode Car</h1>
        <img (click)="updateModeCar()" width="25" height="25" src="../../../assets/close.webp" >
    </div>
    <div class="propsFirst-modeCar" id="rep">
    
        @if(reproductorService.stationLoading()==false ) {
            
                <div style="align-items: center; display: flex; justify-content: center;">
                    <app-loading></app-loading>
                </div>
            
        }@else {
             <div class="title_image">
 
                 @if (reproductorService.actualStation()?.favicon!.length>0) {
 
                 <img class="poster" [src]="reproductorService.actualStation()?.favicon" />
 
                 }@else {
                 <img class="poster" src="../../../assets/icons8-radio-50.png" />
 
             }
             
         </div>
         <div>
            <h1>{{reproductorService.actualStation()?.name}}</h1>
           
        </div>
            
         <div class="box-btn">
             
                 @if (reproductorService.state()) {
 
                     <div  (click)="pause()" class="btn-play">
                         <img height="50" width="50" src="../../../assets/icons8-pausa-30.webp" />
                     </div>
                 }@else{
                     <div (click)="play()" class="btn-play">
                         <img height="50" width="50" src="../../../assets/icons8-play-30.webp" />
                     </div>
                 }
 
            </div>
        }
      
        
    </div>
    <div class="recomendations-list">
        @for (item of recomendations; track $index) {
            <app-station-radio [station]="item"></app-station-radio>
        }
    </div>  
</div>