    <div class="filters">
        <app-find-bar (newShearchStation)="setRadioName($event)"></app-find-bar>
        <app-select-countrie (newCountry)="setCountryCode($event)"></app-select-countrie>
        <app-select-tag-list (refrestListFilter)="setTagList($event)"></app-select-tag-list>
    </div>
    
    <ul class="list">
        @for (station of radios; track $index) {
            <app-station-radio [station]="station"></app-station-radio>
         
        }
        
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"   (scrolled)="loadRadios()"></div>
    </ul>
    @if (loading()==true) {  
        <app-loading></app-loading>
    }

