@if (type=="radio") {

    <section class="box-filters">
        <app-find-bar (newShearchStation)="setRadioName($event)"></app-find-bar>
        
        <div class="filters">
            <app-select-countrie (newCountry)="setCountryCode($event)"></app-select-countrie>
            <app-select-tag-list (refrestListFilter)="setTagList($event)"></app-select-tag-list>
        </div>

        <div class="btn-open-filters-mobile">

            <img src="../../../assets/settings.webp"  (click)="changeStateMenu()" width="25" height="25"> 

        </div>
        
        
    </section>
    <section class="filters-mobile"  [ngClass]="stateMenu ? 'open' : 'close' ">
        <div class="box-close">
            <img class="btn-close-filters" (click)="changeStateMenu()" width="25" height="25" src="../../../../assets/close.webp">
        </div>
        <div class="filters-mobile-content">

            <app-select-countrie (newCountry)="setCountryCode($event)"></app-select-countrie>
            <app-select-tag-list (refrestListFilter)="setTagList($event)"></app-select-tag-list>
        </div>
    </section>
}
<ul class="list">

    @if (type=="radio") {
        
        @for (station of radios; track $index) {
            <app-station-radio [station]="station"></app-station-radio>
        }
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"   (scrolled)="loadRadios()"></div>
    }
    @if(type == "history"){
        @for (item of historyService.history()?.data; track $index) {
           
            <app-station-radio [station]="item"></app-station-radio>
        }
    }
</ul>

@if (loading()==true) {  
    <app-loading></app-loading>
}

