

.list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
   
    padding: 0;
    width: 100%;
    height: 100%;

    
}
.list::-webkit-scrollbar{
    opacity: 0;
}


.filters{
    display: flex;
    flex-direction: row;
    align-items:  center;
    overflow-x: auto;
    padding-left: 1em;
    

}
.filters::-webkit-scrollbar {
    display: none;
}



@media (max-width: 768px) {
    .list{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
     
        width: 100%;
        height: 58%;
        padding-bottom: 1em;
    }
}