<form [formGroup]="formGroup" >

    <label>Email</label>
    <div class="input_box">

        <input formControlName="email" email="true" required="true" type="email">
    </div>
    @if (formGroup.controls.email.errors!=null) {
        @if (formGroup.controls.email.errors["required"]) {
            <samp class="errors">Campo requerido</samp>
        }
      
    }
    <label>Password</label>
    <div class="input_box">
        <input id="input_password"  required formControlName="password" type="password">
        @if(statePassword()===false){

            <img (click)="setStatePassword()" src="../../../../assets/icons8-ojo-cerrado-50.webp">

        }@else if(statePassword()===true){
            <img (click)="setStatePassword()" src = "../../../../assets/icons8-visible-30.webp">
        }
    </div>
    @if (formGroup.controls.password.errors!=null) {
        @if (formGroup.controls.password.errors["required"]) {
            <samp class="errors">Campo requerido</samp>
        }
      
    }
    

        <button  class="singUp" >Registrarse</button>
    

    <div>
        <a>¿Ya tienes una cuenta?</a>
    </div>
</form>