<form (submit)="logIn()" [formGroup]="formGroup">

    <label>Email</label>

    <div class="input_box">

        <input formControlName="email" email="true" required="true" type="email">

    </div>

  
    <label>Password</label>

    <div class="input_box">

        <input id="input_password"  required formControlName="password" type="password">
        @if(statePassword()===false){

            <img (click)="setStatePassword()" src="../../../../assets/icons8-ojo-cerrado-50.webp">

        }@else if(statePassword()===true){
            <img (click)="setStatePassword()" src = "../../../../assets/icons8-visible-30.webp">
        }

    </div>

   
    <input  (submit)="logIn()"   class="singUp" type="button"  value="Iniciar sesion">
     

    <div style="display: flex;align-items: center; width: 100%; padding: 1em; justify-content: center;">

        <a href="oauth/singUp">¿No tienes cuenta?</a>

    </div>

</form>