<form (submit)="submit()" [formGroup]="singUpForm" >
    
    <label>Name</label>

    <div class="input_box"> 

        <input   required="true" [formControl]="singUpForm.controls.name" type="text">

    </div>

     @if (isInvalid("name")!==null) {
      

            <samp class="errors">{{getErrorMessage("name")}}</samp>

        
     }

    <label>Email</label>

    <div class="input_box">

        <input formControlName="email" email="true" required="true" type="email">

    </div>

    @if (isInvalid("email")!==null) {
       
        <samp class="errors">{{getErrorMessage("email")}}</samp>

    }
    <label>Password</label>

    <div class="input_box">

        <input id="input_password"  required formControlName="password" type="password">

        @if(statePassword()===false){

            <img (click)="setStatePassword()" src="../../../../assets/icons8-ojo-cerrado-50.webp">

        }@else if(statePassword()===true){

            <img (click)="setStatePassword()" src = "../../../../assets/icons8-visible-30.webp">
        }

    </div>

    @if (isInvalid("password")!==null) {

        <samp class="errors">{{getErrorMessage("password")}}</samp>

    }
    <app-img-selected (setImgSelected)="setImgSelected($event)"></app-img-selected>


    @if (singUpForm.valid) {

        <button  class="singUp" >Registrarse</button>

    }@else {

        <input disabled (submit)="submit()"  class="singUp" value="Registrase" />

    }

    <div style="display: flex;align-items: center; width: 100%; padding: 1em; justify-content: center; ">

        <a href="oauth/logIn">¿Ya tienes una cuenta?</a>

    </div>
</form>