
*{
    --color-background:#2A1F2D;
    --color-primary:#59C9A5;
    --color-secundary:#52BE80;
    --color-country:#FF6747;
    --color-language:#DAF7A6;
    --hover:#939393;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding:5em;
    padding-inline: 2em;
    padding-right: 10em;
    padding-left: 10em;
}
.errors{
    color: var(--color-secundary);
    font-size: small;
}
input{
    width: 100%;
    padding: 1em;
    border: none;    
    border-radius: 50px;
    background-color: field;
}
img{
    width: 25px;
    height: 25px;
}
.input_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1em;
    border: none;    
    border-radius: 50px;
    background-color: field;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

input:focus{
    outline: none;
}

@media (prefers-color-scheme: dark) {

    .input_box{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 1em;
        border-radius: 50px;
        border: solid 1px ;
        border-color: white;
    }

    
}
@media (prefers-color-scheme: light) {
    .input_box{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 1em;
        border-radius: 50px;
        
        border: solid 1px ;
        border-color: black;
    }
}

.singUp{
    border: none;
    border-radius: 20px;
    background-color: #52be80;
    padding: 1em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.singUp:hover{
    background-color: #59C9A5;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.singUp:disabled{
    background-color: #2A1F2D;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

img{
    cursor: pointer;

}
img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
a{
    text-align: center;
    text-decoration: none;
    color: var(--color-secundary);
}
a:hover{
    color: var(--color-primary);
}

@media (max-width: 768px) {
    form{
        padding: 2em;
    }
    
}
.loadingState{
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    top: 0;
    position: absolute;

}