
*{
    --color-background:#2A1F2D;
    --color-primary:#59C9A5;
    --color-secundary:#52BE80;
    --color-country:#FF6747;
    --color-language:#DAF7A6;
    --hover:#939393;
}

div{
    align-items: center;
    flex-wrap: wrap;
    
}
.tags{
  
    
    max-width: 200px;
    background-color: var(--color-secundary);
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.5em;
    border-radius: 10px;
    text-wrap: nowrap;
    width: fit-content;
    font-size: medium;
    animation: fade forwards 0.5s ease-in-out;
    -webkit-animation: fade forwards 0.5s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.box{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    width: fit-content;

}
.more{
    color: #52BE80;
    cursor: pointer;
  
}
.box_more{
    align-items: baseline;
    display: flex;
    justify-content: baseline;
    
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}