<div class="shearch-box">
    
   
    <input (input)="shearchTag()" type="text" [formControl]="tagSherch"> 
    @for (item of tagListShearchSelected; track $index) {
        <div (click)="removeTag(item)" class="tagSelected">{{item.name}}</div>
    }
   
</div>

<div >
    
    <div class="tagList"> 
       
        @for (item of tagListShearch; track $index) {
            @if($index<10){
                
                <li (click)="selectedTag(item)" class="tag_not_selected">{{item.name}}</li>
            }

        }

    </div>
</div>