*{
    --color-background:#2A1F2D;
    --color-primary:#59C9A5;
    --color-secundary:#52BE80;
    --color-country:#FF6747;
    --color-language:#DAF7A6;
    --hover:#939393;
}
input{
    padding: 0.6em;
    padding-left: 1em;
    border: none;    
    border-radius: 50px;
   
}
input:focus{
    outline: none;
}
.shearch-box{
    position: relative;
    
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 0.3s ease-in-out;
    & h3{
        margin: 0;
    }
}
.tagList{
    position: absolute;
    margin-left: 0.2em;
    margin-top: 1em;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    z-index: 100;
    gap:0.2em;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
}

.tagSelected{
    padding: 0.4em;
    background: var(--color-primary);
    color: black;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    text-wrap: nowrap;
    animation: fade 0.3s ease-in-out;   


}
.tagSelected:hover{
    background-color:var(--color-secundary);
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}
.tag_not_selected{
    padding: 0.4em;
    color: #2A1F2D;
    list-style: none;
    border-radius: 10px;
    background: var(--color-language);
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    text-wrap: nowrap;
    animation: fade 0.3s ease-in-out;   
    
}
.tag_not_selected:hover{
    background-color:var(--color-secundary);
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}