
<div class="containerMap" [ngClass]="state ? 'open' : 'close'">
    
    <div class="box_map">
        @if (radiosIsLoad==false) {
            <div class="loader">

                <app-loading ></app-loading>
            </div>
        }
        <div class="shearchCity">
            <div class="filters">
                <app-find-bar-by-autocomplete (keyWordSelected)="zoomInToStationSelected($event)" [listKeyWords]="getKeyWord()"></app-find-bar-by-autocomplete>
                <app-select-countrie (newCountry)="setActualCountry($event)"></app-select-countrie>
                <img (click)="playRandom()" src="../../../assets/shuffle.webp" class="btn_map " >
            </div>
            <div class="opcions">
                <app-find-bar-by-autocomplete (keyWordSelected)="zoomInToStationSelected($event)" class="btn_menu_filter" [listKeyWords]="getKeyWord()"></app-find-bar-by-autocomplete>
                <img  (click)="changeFilter()" src="../../../assets/settings.webp" class="btn btn_menu_filter">
                <img  (click)="playRandom()" src="../../../assets/shuffle.webp" class="btn btn_menu_filter" >
            </div>
            <img (click)="closeMap()" class="btn_map" width="25" height="25" src="../../../assets/close.webp">
        </div>

        <div  id="map" class="map">
            
        </div>
    </div>
    
</div>