

*{
    --color-background:#2A1F2D;
    --color-primary:#59C9A5;
    --color-secundary:#52BE80;
    --color-country:#FF6747;
    --color-language:#DAF7A6;
    --hover:#939393;
}
label{
    color: black;
}

.map{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;

}
.box_map{
    position: relative;
    height: 100%;
    width: 100%;
    
}
.containerMap{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.shearchCity{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn_map{
    padding: 0.5em;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    margin-right: 1em;
    width: 25px;
    height: 25px;
}
.btn_map:hover{
    background-color: var(--color-background);
    cursor: pointer;
    transform: scale(1.1);
}
.open{
    opacity: 1;
    z-index: 3;
    animation: fade 0.2s forwards  cubic-bezier(0.19, 1, 0.22, 1);
}
.close{
    opacity: 0;
    z-index: -100;
    animation: fadeOut 0.2s forwards cubic-bezier(0.19, 1, 0.22, 1);
}
.btn_menu_filter{
    display: none;
}
.opcions{
    display: flex;
    gap:0.5em;
    flex-direction: row;
}
.filters{
    display: flex;
    gap: 0.5em;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px) {
    .filters{
        display: none;
    }
    .btn_menu_filter{
        display: block;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }100% {
        opacity: 0;
    }
}