
<div class="containerMap" >
    <div class="box_map">
        <div class="shearchCity">
            <div class="filters">

                <app-select-countrie (newCountry)="setActualCountry($event)"></app-select-countrie>
                
            </div>
            <img (click)="changeFilter()" src="../../../assets/settings.webp" class="btn_map btn_menu_filter">
            <img (click)="closeMap()" class="btn_map" width="25" height="25" src="../../../assets/close.webp">
            
        </div>

        <div  id="map" class="map">
            
        </div>
    </div>
    
</div>