/* You can add global styles to this file, and also import other style files */

*{
    --color-background:#2A2A2A;
    --color-primary:#59C9A5;
    --color-secundary:#52BE80;
    --color-country:#FF6747;
    --color-language:#DAF7A6;
    --hover:#939393;
}


*{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 600;
    -webkit-tap-highlight-color: transparent;
}
img,a{
    -webkit-tap-highlight-color: transparent;
}
:root{

    color-scheme: dark;
    
    color-scheme: dark;

    

}


body{

    margin: 0;
    height: 100%;
}

::-webkit-scrollbar {

    width: 3px;

}

::-webkit-scrollbar-thumb{

    background:#59C9A5;
    width: 10px;

}
    
@media (max-width:768px) {
    
}


html{

    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    height: 100%;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
    &.blue-snackbar {
      --mdc-snackbar-container-color: #2196f3;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
}

.marker{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hidden{
    display: none;
}
.no-hidden{
    display: flex;
    animation: fade 0.2s ease-in-out forwards;

}
.marker:hover{
    
    outline: black 1px solid;
    box-shadow: white 0px 0px 5px 0px;
    transition: color all  ease-in-out;
}
.marker:active{
    transform: scale(1.1);
    
    transition: 0.5s ease-in-out;
}
.marker-img{
    width: 25px;
    height: 25px;
    object-fit: fill;
    border-radius: 20px;
    
}
.marker-name{
    font-size: 0.8rem;
    color: white;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 0;

}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}