*{
    --color-background:#2A1F2D;
    --color-primary:#59C9A5;
    --color-secundary:#52BE80;
    --color-country:#FF6747;
    --color-language:#DAF7A6;
    --hover:#939393;
}
section{
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.poster{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.lbls{
    display: flex;
    flex-direction: row;
    gap:0.5em;
    align-items: center;
}
.title{
    font-size: xx-large;
}
.link {
    color: var(--color-primary);
    text-decoration: none;
}

@media (max-width:768px) {
    .lbls{
        flex-direction: column;
    
    }


    section{
        padding-bottom: 8em;
    }
    
}