<li class="station"> 
    <div>

        <div class="poster">
            
            <app-btn-play [urlImg]="favicon"  [station]="station"> 
                
            
            </app-btn-play>
            <div>
                <h1>{{station?.name}}</h1>
                <a [href]="station?.homepage">Official Page</a>
            </div>
           
        </div>
         <div class="props">
            <h2 class="country">{{station?.country}} 🌐</h2>
            @if(station?.language!.length>1){

                <h2 class="language">{{station?.language}} 🎶</h2>
            }
            @if (station?.tags!.length>1) {

                <h2 class="tags">{{station?.tags}} 🏷️</h2>
            }
         </div>

    </div>
</li>
