<li class="station"> 
  
        <div class="poster">
            
            <app-btn-play [urlImg]="favicon"  [station]="station"> 
                
            
            </app-btn-play>
            <div>
                <div class="title_and_more">
                    <a  [href]="'radio/station/'+station?.id">{{station?.name}}</a>
                 
                </div>
                <a class="link" [href]="station?.homepage">Pagina oficial</a>
            </div>
           
        </div>

        <div class="more_props">
            
            <span>{{station?.votes}} 👍</span>
            @if(station?.lastCheckOk==false){
                <samp class="status" style="color: red;">OFFLINE</samp>
            }@else {
                <samp class="status" style="color: green;">ONLINE</samp>
            }
            
        </div>

         <div class="props">
         
            <app-lbl-country [content]="station?.country"></app-lbl-country>
            @if(station?.language!.length>1){

                <app-lbl-language [content]="station?.language"></app-lbl-language>
            }
            @if (station?.tags!.length>1) {

               <app-lbl-tags [content]="station?.tags"  ></app-lbl-tags>
            }
            
         </div>

</li>
