<li class="station"> 
    <div>

        <div class="poster">
            
            <app-btn-play [urlImg]="favicon"  [station]="station"> 
                
            
            </app-btn-play>
            <div>
                <div class="title_and_more">
                    <h1>{{station?.name}}</h1>
                    <a class="link" [href]="'radio/'+station?.id">
                        More
                    </a>
                </div>
                <a class="link" [href]="station?.homepage">Official Page</a>
            </div>
           
        </div>
         <div class="props">
            <app-lbl-country [content]="station?.country"></app-lbl-country>
            @if(station?.language!.length>1){

                <app-lbl-language [content]="station?.language"></app-lbl-language>
            }
            @if (station?.tags!.length>1) {

               <app-lbl-tags [content]="station?.tags"  ></app-lbl-tags>
            }
         </div>

    </div>
</li>
